container_commands:
  00installPackages:
    command: "composer.phar self-update --2"
  01artisanMigrate:
    command: "php artisan migrate --path=database/migrations --force"  
  02installcomposer:
    command: "composer.phar install"
  03symbolicLink:
    command: "php artisan storage:link"
  04optimizeClear:
    command: "php artisan optimize:clear"